{{#each model as |hat index|}}
  <div class="hat">{{hat.name}}</div>
  <div class="detail">
    {{#link-to "hats.detail" index}}details{{/link-to}}
    {{#link-to "hats.include" index}}include{{/link-to}}
    {{create-outlet index}}
  </div>
{{/each}}
